[mysqld] #options for the server
user=mysql
port=3306
bind-address=0.0.0.0
socket=/run/mysqld/mysql.sock
#log-bin=/var/lib/mysql/mysql-bin
log-basename=mysql_log_
skip-networking=false

[mysql] #options for the client
port=3306
socket=/run/mysqld/mysql.sock


[mysqld_safe]
port=3306
socket=/run/mysqld/mysql.sock
