[mysqld] #options for the server
user=root
port=3306
bind-address=0.0.0.0
socket=/var/lib/mysql/mysql.sock
log-bin=/var/lib/mysql/mysql-bin
log-basename=mysql_log_
#skip-networking

[mysql] #options for the client
user=root
port=3306
socket=/var/lib/mysql/mysql.sock


[mysqld_safe]
port=3306
socket=/var/lib/mysql/mysql.sock
