[mysqld_safe]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
port=3306

[mysqld] #Server
user=root
socket=/var/lib/mysql/mysql.sock
port=3306
datadir=/var/lib/mysql
bind-address=0.0.0.0
log-bin=/var/lib/mysql/mysql-bin
skip-networking=false
default_authentication_plugin=mysql_native_password

[mysql] #Client
user=root
port=3306
socket=/var/lib/mysql/mysql.sock
